Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
ErrorDocument 404 /admin/404.php

#ÁREA ADMINISTRATIVA
RewriteRule ^admin/?$ /admin/index.php [NC,L]
RewriteRule ^admin/login/?$ /admin/login.php [NC,L]

       #MODULOS

              #CATEGORIAS

              RewriteRule ^admin/categorias/?$ /admin/modules/categorias/index.php [NC,L]
              RewriteRule ^admin/categorias/adicionar/?$ /admin/modules/categorias/adicionar.php [NC,L]
              RewriteRule ^admin/categorias/editar/([a-z-0-9-]+)-([a-z-0-9-]+)/?$ /admin/modules/categorias/editar.php?id=$2 [NC,L]

              #MARCAS
              RewriteRule ^admin/marcas/?$ /admin/modules/marcas/index.php [NC,L]
              RewriteRule ^admin/marcas/adicionar/?$ /admin/modules/marcas/adicionar.php [NC,L]
              RewriteRule ^admin/marcas/editar/([a-z-0-9-]+)-([a-z-0-9-]+)/?$ /admin/modules/marcas/editar.php?id=$2 [NC,L]

              #PRODUTOS

              RewriteRule ^admin/produtos/?$ /admin/modules/produtos/index.php [NC,L]
              RewriteRule ^admin/produtos/adicionar/?$ /admin/modules/produtos/adicionar.php [NC,L]
              RewriteRule ^admin/produtos/editar/([a-z-0-9-]+)-([a-z-0-9-]+)/?$ /admin/modules/produtos/editar.php?id=$2 [NC,L]

              #PEDIDOS

              RewriteRule ^admin/pedidos/?$ /admin/modules/pedidos/index.php [NC,L]
              RewriteRule ^admin/pedidos/adicionar/?$ /admin/modules/pedidos/adicionar.php [NC,L]
              RewriteRule ^admin/pedidos/editar/([a-z-0-9-]+)-([a-z-0-9-]+)/?$ /admin/modules/pedidos/editar.php?id=$2 [NC,L]
              RewriteRule ^admin/pedidos/visualizar/([a-z-0-9-]+)/?$ /admin/modules/pedidos/visualizar.php?id=$1 [NC,L]

#LOJA

RewriteRule ^produto/([a-z-0-9-]+)/([a-z-0-9-]+)/?$ /produto.php?id=$1 [NC,L]
RewriteRule ^fale-conosco/?$ /fale-conosco.php [NC,L]
RewriteRule ^produtos/([a-z-0-9-]+)/?$ /produtos.php?categoria=$1 [NC,L]

       #CLIENTE
       RewriteRule ^cliente/login/?$ /cliente-login.php [NC,L]
       RewriteRule ^cliente/cadastrar/?$ /cliente-cadastrar.php [NC,L]
       RewriteRule ^cliente/?$ /cliente-painel.php [NC,L]
       RewriteRule ^cliente/logout/?$ /cliente-logout.php [NC,L]
       RewriteRule ^cliente/carrinho/?$ /cliente-carrinho.php [NC,L]
       RewriteRule ^cliente/finalizar-compra/([a-z-0-9-]+)/?$ /cliente-finalizar-compra.php?codigo=$1 [NC,L]
       RewriteRule ^cliente/pedido/([a-z-0-9-]+)/?$ /cliente-pedido.php?codigo=$1 [NC,L]
       RewriteRule ^cliente/dados/?$ /cliente-dados-cadastrados.php [NC,L]

</IfModule>
<IfModule mod_headers.c>
Header append Vary Accept env=REDIRECT_accept
</IfModule>
AddType image/webp .webp